<Header>
    <h1>vac.app</h1>
    <p>es una aplicacion creada para el registro, autorizacion, constrol y gestion de tus vacaciones</p>
</Header>
<nav>
    <h4>Home</h4>
    <h4>Nuestra Empresa</h4>
    <h4>Consultanos!!</h4>
    <h4>Trabaja con nosotros</h4>
</nav>