<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoriza vac.app</title>
    <link rel="stylesheet" href="/css/autorizar.css">
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <!--saludo de bienvenida al usuario-->
    <div class="volver">
        <h2 class='registrar-titulo'>Bienvenido nuevamente PEPITO !!!!!!</h2>
        <form>
            <button type='submit'>Ir a TUS vacaciones</button>
        </form>
    </div>
    
    <div class='registrar-container'>
        
        <div class="inlet-grande">
            <h2>1. Aprobaciones pendientes</h2>
            <div class="auto-pend">

            </div>
            <div class="auto-pend">
                
            </div>
        </div>
        
        <div class="inlet-grande">
            <h2>2. Vacaciones aprobadas</h2>
            <div class="auto-pend">

            </div>
            <div class="auto-pend">
                
            </div>
        </div>
    </div>
    

    <%- include('./partials/footer.ejs') %>
</body>
</html>