<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vac.app</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%-include('./partials/header.ejs')%>
    <form action="/login/adminCrearUsuario" method="POST">
        <input type="email" name='email' placeholder="email">
        <input type="password" name='password' placeholder="password">
        <button type="submit" value='crear'>Crear</button>
    </form>
    <%-include('./partials/footer.ejs')%>
</body>
</html>