<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vac.app</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <Header>
        <h1>vac.app</h1>
        <p>es una aplicacion creada para el registro, autorizacion, constrol y gestion de tus vacaciones</p>
    </Header>
    <nav>
        <h4>Home</h4>
        <h4>Nuestra Empresa</h4>
        <h4>Consultanos!!</h4>
        <h4>Trabaja con nosotros</h4>
    </nav>
    
    <main>
        <Section id='registrar'>
            <h3>Para registrar tu pedido de vacaciones ingresa tu mail de empresa y tu password</h3>
            <label for= >email:</label>
            <input type= id= email="email">   
            <label for= >Password:</label>
            <input type= id= password="password">
            <br>
            <input type="submit" value="REGISTRA">
        </Section>
        <section id='autorizar'>
            <h3>Para autorizar un pedido de vacaciones ingresa tu mail de empresa y tu password</h3>
            <label for= >email:</label>
            <input type= id= email="email">   
            <label for= >Password:</label>
            <input type= id= password="password">
            <br>
            <input type="submit" value="AUTORIZA">

        </section>
    </main>
    <footer>
        <h4>copyright vac.app@2020</h4>
    </footer>
</body>
</html>