<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vac.app</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <Header>
        <h1>vac.app</h1>
        <p>es una aplicacion creada para el registro, autorizacion, control y gestion de tus vacaciones</p>
    </Header>
    <nav>
        <h4>Home</h4>
        <h4>Nuestra Empresa</h4>
        <h4>Consultanos!!</h4>
        <h4>Trabaja con nosotros</h4>
    </nav>
    
    <main>
        <Section id='registrar'>
            <h3>Para registrar tu pedido de vacaciones ingresa tu mail de empresa y tu password</h3>
            <!-- <label for= >email:</label> -->
            <form action="/login/registrante" method='POST'>
                <input type='email' name="email" placeholder='Email'> <br>  
                <input type='password' name='password' placeholder="Contraseña">
                <br>
                <input type="submit" value="REGISTRA">
                <%if (typeof(crearSesion) != 'undefined'){%>
                    <p style="color: red; background-color: white; border: 1px solid red;">Se te ha enviado un mail a la siguiente direccion: <%=crearSesion.email%></p>
                <%}%>  
            </form>
            
        </Section>
        <section id='autorizar'>
            <h3>Para autorizar un pedido de vacaciones ingresa tu mail de empresa y tu password</h3>
            <form action="/login/autorizante" method="POST">
                <input type='email' name='email' placeholder="Email">   <br>
                <input type='password' name='password' placeholder="Contraseña">
                <br>
                <input type="submit" value="AUTORIZA">                
            </form>


        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>