<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registra tus vac.app</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class='registrar-container'>
        <div class="inlet">
            <h2>1. Registra las fechas de tus vacaciones</h2>
            <form class='register' action="/register" method="POST">
                <label for="desde">Desde:</label><br>
                <input type="date" name='desde' class='cien' placeholder='Desde'><br>
                <label for="hasta">Hasta:</label><br>
                <input type="date" name='hasta' class='cien' placeholder="Hasta"><br>
            </form>
        </div>
        <div class="inlet">
            <h2>2. Envia el mail para pedir autorizacion</h2>
            <p class= 'inicio-sesion'>Carga y confirma elmail de la persona que autoriza tus vacaciones</p>
            <!-- <label for="email">Email:</label><br> -->
            <form>
                <input type="email" name='email'class='cien' placeholder="Email"><br>
                <!-- <label for="confirmaremail">Email:</label><br> -->
                <input type="email" name='confirmaremail'class='cien' placeholder="Confirmar email"><br>
                <!-- <label for="type">Tipo:</label><br> -->
                <button type='submit'>Pedilas!!!!!!</button>
           
            </form>
        </div>
        <div class="inlet">
            <h2>3. Verifica el estado de tu pedido</h2>
            <div id="menu-auto">
                
                <div class="boton">
                   <p>Pedido del:</p>
                </div>
                <div class="boton">
                    <p>Desde:</p>
                </div>
                <div class="boton">
                    <p>Hasta:</p>
                </div>
                <div class="botondoble">
                    <p>AUTORIZADO</p>
                </div>
                <div class="boton">
                    <form>
                        <button type='submit'>Imprimi tu formulario</button>
                    </form>
                </div>    
            </div>     
        </div>  
        <div class="inlet">
        <h2>4. Mira tus vacaciones anteriores</h2>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>