html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(https://images.pexels.com/photos/1482927/pexels-photo-1482927.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    color: rgba(81, 81, 197, 0.986);
    background-size: cover;
}

main {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: dimgray;
}
h3 {
    width: 400px;
}
#registrar {
    background-image: url(https://images.pexels.com/photos/914929/pexels-photo-914929.jpeg?cs=srgb&dl=pair-of-red-and-white-low-top-sneakers-914929.jpg&fm=jpgof-red-and-white-low-.top-sneakers-914929.jpg);
    width: 400px;
    height: 300px;
    background-size: cover;
}
#autorizar {
    background-image: url(../images/positive-senior-man-in-eyeglasses-showing-thumbs-up-and-3824771.jpg);
    width: 400px;
    height: 300px;
    background-size: cover;

}




